app:
  name: 'UN-DEFINED-API'
  site: 'localhost'
  version: '1.0.0'
  prod: false
  storagePath: './storage'
database:
    host: postgres
    port: 5432
    user: change-me
    password: change-me
    database: change-me
    migrations_path: ./migrations
redis:
    host: redis
    port: 6379
    password: "change-me"

http:
  port: "8080"
  maxHeaderBytes: 1
  readTimeout: 10s
  writeTimeout: 10s
  allowedOrigins:
    - "http://localhost"
    - "http://localhost:8080"
    - "http://127.0.0.1:8080"
  allowedMethods:
    - "GET"
    - "POST"
    - "PUT"
    - "DELETE"
  allowedHeaders:
    - "Accept"
    - "Accept-Encoding"
    - "Authorization"
    - "Content-Length"
    - "Content-Type"
    - "X-CSRF-Token"
    - "X-Requested-With"
    - "Origin"
  exposedHeaders:
    - "Content-Length"
    - "Content-Type"
  allowCredentials: true
  maxAge: 12h  
  proxyHeader: "X-Forwarded-For"

logger:
  log_level: 'debug'

email: 
  host: examplehost.local
  port: 587
  username: "example@examplehost.local"
  password: "topsecret"
  address: "example@examplehost.local"
  name: "Name Surname"

